#sort {
    list-style: none;
    width: 430px;
    border: 1px solid;
    padding: 20px;
    margin: 0 auto;
    height: 315px;
}

#sort li {
    display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
    background: yellow;
    font: 600 16px/100px "Arial";
    text-align: center;
    margin: 0;
    border: 3px solid white;
}